.Navbar {
  width: var(--nav-width);
  background-color: var(--light-gray);
}

.NavIconsUl {
  grid-template-rows: repeat(auto-fit, 56px);
}

.NavItem {
  grid-template-columns: 1fr 2fr;
}

.SimpleInfo {
  grid-template-columns: 1fr 2fr;
}