.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100%;
  z-index: 1;
  background-color: var(--light-gray);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.NavIconsUl {
  display: grid;
  grid-template-rows: repeat(auto-fit, 56px);
  gap: 8px;
  height: 80%;
}

.NavItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  transition: background-color 100ms ease-in;
}

.NavItem > * {
  pointer-events: none;
}

.NavItem:hover {
  background-color: rgb(0 0 0 / 8%);
}

.NavItem .icon {
  text-align: center;
  display: grid;
  place-items: center;
}

.NavItem .name {
  display: flex;
  text-align: left;
  align-items: center;
}

.SimpleInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.SimpleInfo label {
  font-size: 12px;
  font-weight: bold;
}

.SimpleInfo p {
  font-size: 14px;
  font-style: italic;
}
