.notification {
  width: 300px;
  height: 64px;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.success-save {
  background-color: #9ddf8a;
  color: #215611;
}

.notification .message {
    font-size: 14px;
    font-weight: 600;
}
