.Order-header::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 1px;
    width: 80%;
    background: linear-gradient(
        transparent,
        rgb(0 0 0 / 20%),
        transparent
    );
    z-index: 2;
}

.Order {
    grid-template-rows: repeat(auto-fill, 28px);
}

.order-cols {
    grid-template-columns: 2fr 1fr 1fr;
}

