#owe-section {
  grid-template-columns: 1.5fr 1fr;
}

.book-grid .client-grid {
  grid-template-columns: 2fr 1fr 1fr;
}

.header-grid {
  grid-template-columns: 2fr 1fr 1fr;
}

.DetailedClientRow {
  grid-template-columns: 0.5fr 1fr 1fr 1.5fr;
}