.ProductList{
    grid-area: ProductList;
}

.ProductList ul {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(65px, 1fr));
    gap: 8px;
    list-style-type: none;
    height: 100%;
    overflow-y: auto;
}

.ProductList .ProductCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    text-transform: capitalize;
    transition: box-shadow 100ms ease-in, color 100ms ease-in, border-color 100ms ease-in;
}

.ProductList .ProductCard-wrapper * {
    pointer-events: none;
}


.ProductList li:hover {
    /* border-color: var(--md-sys-color-on-surface-variant); */
    box-shadow: var(--default-box-shadow);
    color: var(--md-sys-color-tertiary);
    border-color: var(--md-sys-color-tertiary);
}