.ProductList{
    grid-area: ProductList;
}

.ProductList ul {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(65px, 1fr));
    gap: 8px;
    list-style-type: none;
    height: 100%;
    overflow-y: auto;
}

.ProductList li {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    text-transform: capitalize;
}

.ProductList li * {
    pointer-events: none;
}


.ProductList li:hover {
    border-color: #4ed8e9;
}