.SalesStorager{
    grid-area: Client;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.Total {
    width: 300px;
    height: 65px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.5rem;
}

.Total-value{
    font-weight: 500;
    font-size: large;
}

.Storager-actions{
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    place-items: center;
}

.Storager-actions .action-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

.StoragerActionBtns > * {
    pointer-events: none;
}

.StoragerActionBtns:hover {
    cursor: pointer;
}

